header {
 width: 100%;
 height: 100px;
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 20px 100px 20px 100px;
 background-color:  #dee9f1;
 color: #005eb8;
}

.logoImg {
 width: 200px;
 height: 60px;
 object-fit: contain;
}

ul {
 display: flex;
 align-items: center;
 gap: 30px;
 list-style: none;
 font-family: sans-serif;
 font-size: 18px;
}

li {
 cursor: pointer;
 transition: 0.3s;
}

li:active {
 transform: scale(0.95);
}

.NavBarBtns {
 display: flex;
 align-items: center;
 gap: 50px;
}

.NavBarBtns button {
 display: flex;
 align-items: center;
 gap: 15px;
 font-size: 18px;
 color: #005eb8;
 background-color: transparent;
 border: 0px;
 cursor: pointer;
}