.Sidebar {
	width: max-content;
	height: max-content;
	background-color: white;
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 20px;
	margin: 20px;
	border-radius: 15px;
	box-shadow: 5px 5px 5px rgb(226, 226, 226);
}

.Sidebar h2 {
	font-weight: 600;
	font-size: 28px;
	letter-spacing: 2px;
	padding: 0px 0px 20px 0px;
	margin: 0px;
}

.Category ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	align-items: baseline;
	gap: 15px;
	transform: translateX(-30px);
}

.Category ul li {
	font-size: 20px;
	color: rgb(66, 66, 66);
}

#searchInput {
	padding: 10px;
	border: 0px;
	border-radius: 10px;
	background-color: aliceblue;
	font-size: 18px;
	width: 230px;
}

.FilterColors ul {
	display: flex;
	align-items: center;
	gap: 10px;
	list-style: none;
	transform: translateX(-25px);
}

.FilterColors li {
	width: 20px;
	height: 20px;
	border-radius: 50px;
}

.FilterColors p {
	transform: translateY(7px);
}

.ColorWhite {
	background-color: aliceblue;
}

.ColorYellow {
	background-color: yellow;
}

.ColorGreen {
	background-color: greenyellow;
}

.ColorBlue {
	background-color: blue;
}

.ColorRed {
	background-color: red;
}

.ColorBlack {
	background-color: black;
}

.FilterSize span {
	display: flex;
	align-items: center;
	gap: 10px;
}

.FilterSize span button {
	padding: 8px;
	border-radius: 10px;
	border: 0px;
	font-size: 15px;
	cursor: pointer;
}

.FilterPrice input {
	width: 200px;
	padding: 0px;
	margin: 0px;
}

.clearFilter {
	width: 200px;
}